<div class="container headline">
    <h2>Dashboard</h2>
    <button
        mat-icon-button
        [class]="sessionService.isConnected() ? 'connected' : 'disconnected'"
        [attr.aria-label]="sessionService.isConnected() ? 'Online' : 'Offline'"
        [matTooltip]="sessionService.isConnected() ? 'Connected' : 'Disconnected'">
            <mat-icon>{{ sessionService.isConnected() ? 'cloud' : 'cloud_off' }}</mat-icon>
    </button>
</div>
<div class="container">
    <ul class="content">
        @for(room of model(); track room.id){
            <li><h3>{{ room.name }}</h3></li>
        }

        <!--
        // TODO: Implement the locked room based on reservations
        <li class="lock">
            <div>
                <h3>Mezanino</h3>
                <mat-icon aria-hidden="false" aria-label="lock" fontIcon="lock" />
            </div>
            <mat-progress-bar mode="determinate" value="40" />
        </li>
        -->
    </ul>
</div>