<div class="container headline">
    <h2>Dashboard</h2>
    <button
        mat-icon-button
        [class]="sessionService.isConnected() ? 'connected' : 'disconnected'"
        [attr.aria-label]="sessionService.isConnected() ? 'Online' : 'Offline'"
        [matTooltip]="sessionService.isConnected() ? 'Connected' : 'Disconnected'">
            <mat-icon>{{ sessionService.isConnected() ? 'cloud' : 'cloud_off' }}</mat-icon>
    </button>
</div>
<div class="container">
    <ul class="content">
        @for(room of model(); track room.id){
            @if(isLocked(room.reservations)){
                <app-room-lock [room]="room" />
            } @else {
                <app-room-unlock [room]="room" />
            }
        }
    </ul>
</div>