code{
    background-color: #5B5157;
    margin-bottom: 20px;
    font-size: 1.4em;
    padding: 12px 0;
    display: block;
    width: 100%;
    
    em{
        padding-left: 10px;
        color: white;
    }

    button{
        float:right;
    }
}