<mat-grid-list cols="3" rowHeight="80px" *ngIf="isAvailable">
    <mat-grid-tile class="brand" [colspan]="leftColumns()">
        <img [src]="logoSource" />
    </mat-grid-tile>
    <mat-grid-tile class="menu" [colspan]="rightColumns()">
        <nav>
            @switch (role()) {
                @case (userRoles.Viewer){
                    <app-viewer-menu />
                }
                @case (userRoles.Coordinator){
                    <app-coordinator-menu />
                }
                @case (userRoles.Administrator){
                    <app-administrator-menu />
                }
            }
        </nav>
    </mat-grid-tile>
</mat-grid-list>